@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}









































































.finish-footer{
  border: 2px solid red;
  height: 100px;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  color: #424242;
  background-color: #FFF4E7;


}
@media  screen and  {
  
}